<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% set title = '' %}
    {% if product is defined %}
        {% set title = product.name ~ ' - ' %}    
    {% endif %}
    <title>{{ title }}{{ dropshipper.store_name }}</title>
    <link rel="shortcut icon" href="{{ url('favicon.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,600,700&display=swap" rel="stylesheet">
    {% block header_scripts %}{% endblock %}
    <link rel="preload" as="style" href="{{ url('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url('assets/css/style.css') }}">
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>
    <section class="main-content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    {% block footer %}
    {% endblock %}
</body>
</html>